body /*, html*/ {
    margin: 0px;
    padding: 0px;
    background: #fafafa; /* #f5f5f5 */
    /* font-family: Barlow, 'IBM Plex Sans', sans-serif; */    
    /*font-size: 16px;*/
    /*height:100%;*/    
}

body, div {
    /*font-family: 'Barlow Semi Condensed', Barlow, sans-serif;   
    font-family: 'IBM Plex Sans', sans-serif;   
    font-family: 'IBM Plex Sans Condensed', sans-serif;*/   
    font-family: 'Fira Sans', sans-serif;   
    /*font-family: 'Roboto Condensed', sans-serif;*/
    /*color: rgba(0, 0, 0, 0.87);*/  
    /*font-size: 16px;*/
}

.waitMe {
	background: rgba(255, 255, 255, 0.7) !important;
}

#map {
    height: 100%;
}

/* This is a bit a hack... */
/* Color and opacity while loading... */
/*
body .black{
    background-color: rgba(255, 255, 255, 0.75) !important;
    opacity: 0.9 !important;
}
*/
/*
#infoButton {
    position: absolute !important;
    top: 20px !important;
    right: 20px !important;
}
*/

#searchCard {
    background-color: white; /*#fafafa;*/ /* GREY_LIGHTEN_5 */
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    top: 15px;
    left: 15px;
    width: 500px;
    height: 170px; 
    overflow-y: auto;
    max-width: calc(100% - 30px);
}

#logoDiv {
	padding: 10px;
}

#suggestBoxDiv {
	padding: 10px;
}

#realEstatePopup {
	position: absolute;
	width: 300px;
	font-size: 16px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);	
}

#realEstatePopupHeader {
	padding: 10px;
	font-weight: bold;
	width: 100%;
	color: white;
	background-color: #2196F3 /*col-blue*/
}

#realEstatePopupClose {
    float: right;
}

.realEstatePopupRow {
	padding: 5px 10px 5px 10px;
	width: 100%;
	background-color: white;
}

#resultCard {
    background-color: white; /*#fafafa;*/ /* GREY_LIGHTEN_5 */
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    transition: height 0.5s;
    position: absolute;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    top: 200px;
    left: 15px;
    width: 500px;
    height: calc(100% - 215px);
    overflow-x: auto;
    visibility: hidden;
    max-width: calc(100% - 30px);
}

#resultCardContent {
    padding: 0px 15px 15px 15px;
}

#fadeoutBottomDiv {
    position: sticky;
    bottom: 0px;
    width: 100%;
    padding: 30px 0px;
    background-image: linear-gradient(rgba(250, 250, 250, 0) 0%, rgba(250, 250, 250, 1) 100%);
}

#resultDiv {
	background-color: white;
}

#resultHeaderRow {
    background-color: white; /*#fafafa;*/ /* GREY_LIGHTEN_5 */
    margin-bottom: 5px;
    position: sticky;
    top: 0px;
    padding-top: 0px;
    padding-bottom: 15px;
    z-index: 10;
    height: 58px;
}

#resultParcelSpan {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-weight: bold;
    line-height: 58px;
    display: inline-block; /* needed for setting width of span element */    
    width: 70%; /* Zeilenumbrüche mit line-height sind schlecht. Eventuell mit den Prozenten spielen, damit es im Bedarfsfall nicht allzu schlecht aussieht. */     
}

#closeExtractButton {
    line-height: 58px; 
}

#expandExtractButton {
    line-height: 58px; 
}

#resultButtonSpan {
    margin: 0px;
    padding: 0px;
    line-height: 58px;
    text-align: right;
    display: inline-block;
    width: 30%;     
}

#resultTabs div.flex-layout {
    justify-content: center;
    color:#2196F3;
}

.cadastralSurveyingInfoKey {
    font-weight: bold;
    display: inline-block; /* needed for setting width of span element */    
    width: 40%;
}

/*
.cadastralSurveyingInfoKeyColumn {
    font-weight: bold;
    vertical-align: middle;
}
*/

.fakeColumn {
    padding: 5px 0px 5px 0px;
    border-bottom: 1px #bdbdbd solid;
}



/*
#searchCardContent {
    padding: 15px;
}

.suggestPopupContent {
    cursor: pointer !important;
}

#logoColumn {
    margin: 0px;
    padding: 0px;
    text-align: left;
}

#searchRow {
    margin-bottom: 2px;
}


#resultCardContent {
    padding: 0px 15px 15px 15px;
}
*/

/*
#fadeoutBottomDiv {
    position: sticky;
    bottom: 0px;
    width: 100%;
    padding: 30px 0px;
    background-image: linear-gradient(rgba(250, 250, 250, 0) 0%, rgba(250, 250, 250, 1) 100%);
}
*/






#deleteExtractButtonColumn {
    padding: 0px;
}

#deleteExtractButton {
    background-color: #ef5350; /* RED_LIGHTEN_1 */
}

#minmaxExtractButton {
    background-color: #ef5350; /* RED_LIGHTEN_1 */
}

#tabRow {
    margin-bottom: 0px !important;
    martin-top: 0px !important;
}

#tabHeaderColumn {
    padding: 0px !important;    
} 

#resultTab {
    /*background-color: #aed634 !important;*/
    font-size: 14px !important;
}

.resultColumn {
    padding: 15px 0px 0px 0px !important;    
}

.mt15 {
    margin: 15px 0px 0px 0px !important;

}

.cadastralSurveyingInfoHeader {
    padding: 0px !important;
    margin: 15px 0px 0px 0px !important;
    font-size: 14px;
    font-weight: 700;
}

.cadastralSurveyingInfoValueColumn {
    padding: 0px !important;
    margin: 0px !important;
    font-size: 14px;
    font-weight: 400;
}

.cadastralSurveyingInfoHeaderSmall {
    padding: 0px !important;
    margin-right: 0px !important;
    font-size: 12px;
}   

.textRight {
    text-align: right !important;
}

.landCoverShareKeyColumn {
    padding: 0px !important;
    margin: 0px !important;
    font-size: 14px;
    font-weight: 400;
}

.landCoverShareValueColumn {
    padding: 0px !important;
    margin: 0px !important;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
}

.buildingColumn {
    padding: 0px !important;
    margin: 0px 0px 10px 0px !important;
    font-size: 14px;
    font-weight: 400;
}

#plrPdfButtonColumn {
    padding: 0px !important;
    font-size: 14px;
    font-weight: 700;   
}


/* */
#pdfButtonColumn {
    padding: 0px;
    text-align: right;
}

#pdfButton {
    background-color: #ef5350; /* RED_LIGHTEN_1 */
}

#generalInfoRow {
    margin-bottom: 10px;    
}

.headerInfoColumn {
    margin: 0px;
    padding: 0px !important;
    font-size: 18px;
    font-weight: 700;
}

.infoRow {
    margin: 0px !important;
}

.infoKeyColumn {
    margin: 0px !important;
    padding: 0px !important;
    font-size: 16px;
    font-weight: 700;
}

.infoValueColumn {
    margin: 0px !important;
    padding: 0px !important;
    font-size: 16px;
    font-weight: 400;
}

.plrTopLevelCollapsible {
    background-color: #fafafa; /* GREY_LIGHTEN_5 */
    margin-top: 25px;   
}

.plrCollapsibleThemeHeader {
    background-color: #eeeeee !important; /* GREY_LIGHTEN_3 */
}

.collapsibleThemeHeaderRow {
    margin-bottom: 0px !important;
}

.collapsibleThemeColumnLeft {
    margin: 0px !important;
    padding: 0px !important;
}

.collapsibleThemeColumnRight {
    margin: 0px !important;
    padding: 0px !important;
    text-align: right;
}

.collapsibleThemesHeaderLink {
    font-weight: 700;
    font-size: 16px;
    color: #000000 !important;
}

.collapsibleThemesHeaderChip {
    margin: 0px;
    background-color: #bdbdbd !important; /* GREY_LIGHTEN_1 */
}

.concernedThemeCollapsible {
    background-color: #eeeeee !important; /* GREY_LIGHTEN_3 */
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border: 0px !important; 
}

.collapsibleThemeLayerHeader {
    background-color: #f5f5f5 !important; /* GREY_LIGHTEN_4 */
    line-height: 18px;
    display: table;
    width: 100%;
    height: 45px;   
        
    overflow: hidden !important;
}

.helperParent {
    border: 0px;
    display: table-cell;
    vertical-align: middle;
    
    /*
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden !important;
    */    
}

.collapsibleThemeLayerLink {
    font-weight: bold;
    font-size: 13px;
    color: black; 
    border: 0px;
    /*font-family: 'Barlow Semi Condensed';*/
    
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden !important;
    display:inline-block;
    
    max-width: 430px;    
}

a.collapsibleThemeLayerLink:hover {
    font-weight: bold;
    font-size: 13px;
    color: #d32f2f; /* RED_DARKEN_2 */ 
    border: 0px;
}

.collapsibleThemeLayerBody {
    background-color: white !important;
    padding: 5px 15px 5px 15px !important;  
}

.opacitySliderRow {
    margin-bottom: 0px !important;
}

.opacitySlider {
    padding: 0px !important;
}

/* Bug? */
.range-field .progress-container {
    z-index: 0 !important;
}

input[type="range"] {
    z-index: 2 !important;
}

.opacitySliderRowLeft {
    font-size: 14px;
    padding: 15px 0px 0px 0px !important;    
}

.layerInfoHeaderRow {
    padding: 10px 0px 0px 0px !important;
    border-bottom: 0px #bdbdbd solid;
    border-top: 1px #bdbdbd solid;
    /*margin-top: 15px !important;*/
    margin-bottom: 5px !important;  
}
      
.layerTypeColumn {
    padding: 0px !important;
    margin-right: 0px !important;
    font-size: 12px;
}   

.layerSymbolColumn {
    padding: 0px !important;
    margin-right: 0px !important;
    text-align: right;  
}

.layerShareColumn {
    text-align: right;
    padding: 0px !important;    
}
                 
.layerPercentColumn {
    text-align: right;
    padding: 0px !important;    
}        

.layerLegendRow {
    border-top: 1px #bdbdbd solid;
    margin-bottom: 10px !important;
        
    /*
    display:inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden !important;
    */        
}         

.layerLegendColumn {
    padding-top: 5px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    font-size: 14px;
}    

.resultLink {
    color: #d32f2f; /* RED_DARKEN_2 */ 
}

a.resultLink:hover {
    color: #d32f2f; /* RED_DARKEN_2 */ 
    text-decoration: underline !important;
}  

a.resultLink:visited {
    color: #d32f2f; /* RED_DARKEN_2 */ 
    text-decoration: underline !important;
}    

.documentsHeaderRow {
    margin-bottom: 5px !important;
    font-size: 14px;
    font-weight: 700;
}

.documentRow {
    margin-bottom: 0px !important;
    font-size: 14px;    
}

.lawRow {
    margin-bottom: 5px !important;
    font-size: 14px;    
}

.hintRow {
    margin-bottom: 5px !important;
    font-size: 14px;    
}

.documentAdditionalInfoRow {
    margin-bottom: 10px !important;
    font-size: 12px;    
}

.notConcernedThemesLabel {
    font-size: 14px;
}

.withoutDataThemesLabel {
    font-size: 14px;
}

.collapsibleGeneralInformationBody {
    background-color: white !important;
    font-size: 14px;
    padding: 5px 15px 5px 15px !important;
}

#dummyButton {
    position: absolute;
    top: 40px;
    right: 40px;    
}

::placeholder {
    /*color: #ff8a80 !important;*/
    color: #9e9e9e !important;
    /*color: black !important;*/
    font-size: 16px;
    font-family: Roboto !important;
}   
.gwt-Label {
    color: black;   
}
.gwt-HTML {
    color: black;   
}        
ul.multiValueSuggestBox-list {
    /*border-bottom: 1px solid #455a64 !important;*/
    /*background-color: #eeeeee !important;*/
    margin-bottom: 0px !important;
}
ul.multiValueSuggestBox-list li input {
    width: 400px !important;
}

.multiValueSuggestBox-token {
    background-color: #FF0000 !important;
    visibility: hidden !important;
    width: 0px !important;
    height: 0px !important;
    margin: 0px !important;
    padding: 0px !imporant;
}

.card {
    margin-bottom: 0px !important;
    /*margin-top: 0px !important;*/
}
.range-field {
    padding: 15px 0px 0px 0px !important;
}

input[type=range] {
    margin: 0px !important;
}


::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}